<h1>Adding Contacts to Group: <%= @contact_group.name %></h1>

<% if params[:q] %>
  <h2><em>search terms:</em> <%= params[:q] %></h2>
<% end %>

<div class="small_text">
  <% form_tag add_members_contact_group_path(@contact_group), :method => :get do %>
    <%= text_field_tag 'q', params[:q] %>
    <%= submit_tag 'search contacts' %><br/>
    <em>optional - narrow search to:</em>
    <% [:first_name, :last_name, :agency, :division, :state, :email].each do |att| %>
      <%= check_box_tag "fields[#{att.to_s}]", 1,
              (params[:fields] and (params[:fields][att] == "1")) %> <%= att.to_s.humanize %> &nbsp;
    <% end %>
  <% end %>
</div>
<br/>

<% form_tag add_contacts_contact_group_path(@contact_group) do %>
  <table class="nice_table contact_list">
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th style="text-align:center;"><%= check_box_tag "check_all" %></th>
    </tr>

  <% @contacts_not_in_group.each do |contact|  %>
    <tr>
      <td><%= link_to contact.name, contact %></td>
      <td><%= contact.email %></td>
      <td><%= check_box_tag "contact_ids[]", contact.id %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="3" style="text-align:right">
        <%= submit_tag "add selected contacts to this group" %>
      </td>
    </tr>
  </table>
<% end %>

<% content_for :sidebar do %>
  <h4>Contact Group Management</h4>
  <p><%= link_to 'Edit Group Name', edit_contact_group_path(@contact_group), :class => 'fake_button' %></p>
  <p><%= link_to 'Group Contacts', @contact_group, :class => 'fake_button' %></p>
  <p><%= link_to 'Contact Groups', contact_groups_path, :class => 'fake_button' %></p>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('#check_all').attach(CheckBoxToggle, '.contact_list');
});
</script>
