<p class="admin_links">
  <%= link_to 'Groups', contact_groups_path, :class => 'fake_button' %>
  <%= link_to 'Group Contacts', @contact_group, :class => 'fake_button' %>
</p>
<h1>Editing contact group</h1>

<% form_for(@contact_group) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit 'Save Changes' %>
<% end %>