<h1>Contact groups</h1>

<% if @contact_groups.empty? %>
  <p><em>No contact groups created yet</em></p>
<% else %>
  <% form_tag emails_contact_groups_path, :id => "get_emails_form", :method => :get do %>
    <table class="nice_table">
      <thead>
        <tr>
          <th>Group name</th>
          <% if has_authorization?(:delete, :contact_groups) || has_authorization?(:update, :contact_groups) %>
          <th></th>
          <% end %>
          <% if has_authorization?(:view_emails) %>
          <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @contact_groups.each do |contact_group| %>
        <tr>
          <td><%= link_to contact_group.name, contact_group %></td>          
          <% if has_authorization?(:delete, :contact_groups) || has_authorization?(:update, :contact_groups) %>
          <td style="text-align: left;">
            <% if has_authorization?(:update, :contact_groups) %>
              <%= link_to 'edit', edit_contact_group_path(contact_group), :class => 'fake_button' %>
            <% end %>
            <% if has_authorization?(:delete, :contact_groups) %>
              <%= link_to 'delete', contact_group, :method => :delete,
                    :confirm => "Are you sure you want to delete the group called #{contact_group.name}?",
                    :class => 'fake_button' %>
            <% end %>
          </td>
          <% end %>
          <% if has_authorization?(:view_emails) %>
          <td>
            <%= check_box_tag "contact_group_ids[]", contact_group.id %>
          </td>
          <% end %>
        </tr>
      <% end %>
        <% if has_authorization?(:view_emails) %>
        <tr>
          <td colspan="3" style="text-align:right;">
            <%= submit_tag "retrieve emails for checked groups" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<br />

<div id="email_list" style="display:none">
  <a href="">Use this email link</a> or copy from the box below and paste into your email program:
  <textarea cols="3" rows="60" style="width: 100%; height: 200px;"></textarea>
</div>

<% if has_authorization?(:create, :contact_groups) %>
  <% content_for :sidebar do %>
    <h4>Contact Group Management</h4>
    <p><%= link_to 'New Contact Group', new_contact_group_path, :class => 'fake_button' %></p>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#get_emails_form').attach(Remote, {
      dataType: 'json',
      success : function(data) {
        $('#email_list textarea').text(data.join('; '));
        $('#email_list a').attr('href', 'mailto:' + data.join(';'));
        $('#email_list').show();
      }
    });
  });
</script>
