<h1>Contact Group: <%= @contact_group.name %></h1>

<% if @contact_group.contacts.empty? %>
  <p><em>No contacts are in this group</em></p>
<% else %>

  <% if @contact_group.events_attended_by_members.empty? %>
    <p>No one in this group has attended any events.</p>
  <% else %>
    Members of this group have attended the following events:
    <ul>
      <% @contact_group.events_attended_by_members.each do |event| %>
        <li><%= link_to event.to_s, event %></li>
      <% end %>
    </ul>
  <% end %>

  <% form_tag drop_contact_contact_group_path(@contact_group) do %>
    <table class="nice_table">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <% if has_authorization?(:update, :contact_groups) %>
        <th></th>
        <th></th>
        <% end %>
      </tr>

    <% @contact_group.contacts.each do |contact|  %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td><%= mail_to contact.email, contact.email, :encode => "javascript" %></td>
        <% if has_authorization?(:update, :contact_groups) %>
        <td>
          <%= link_to "drop from group",
                drop_contact_contact_group_path(@contact_group, :contact_id => contact.id),
                :method => :post, :class => 'fake_button' %>
        </td>
        <td><%= check_box_tag "contact_ids[]", contact.id %></td>
        <% end %>
      </tr>
    <% end %>
      <% if has_authorization?(:update, :contact_groups) %>
      <tr>
        <td colspan="4" style="text-align:right">
          <%= submit_tag "drop selected contacts from this group" %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
  
<% if has_authorization?(:update, :contact_groups) && has_authorization?(:view, :contact_groups) %>
  <% content_for :sidebar do %>
    <h4>Contact Group Management</h4>
    <p><%= link_to 'Add Contacts', add_members_contact_group_path(@contact_group), :class => 'fake_button' %></p>
    <p><%= link_to 'Edit Group Name', edit_contact_group_path(@contact_group), :class => 'fake_button' %></p>
    <p><%= link_to 'Contact Groups', contact_groups_path, :class => 'fake_button' %></p>
  <% end %>
<% end %>
