<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>E-mail:</b>
  <%=h @user.email %>
</p>
  
 

<p>
  <%= link_to 'Edit Account Info', edit_user_path(@user.id), :class => 'fake_button' %> <%= link_to 'Edit Contact Info', edit_contact_path(@user.contact_id), :class => 'fake_button' %>
</p>

<% content_for :sidebar do %>
  <%= render :partial => 'links' %>
<% end %>