<h1>Adding Attendees/Participants to Event: <%= @event.name %></h1>

<% form_tag add_contacts_event_path(@event) do %>
  <table class="nice_table">
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th></th>
    </tr>

  <% @contacts_not_in_group.each do |contact|  %>
    <tr>
      <td><%= link_to contact.name, :action => 'edit', :id => contact %></td>
      <td><%= contact.email %></td>
      <td><%= check_box_tag "contact_ids[]", contact.id %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="3" style="text-align:right">
        <%= submit_tag "add selected contacts to this event" %>
      </td>
    </tr>
  </table>
<% end %>


<% content_for :sidebar do %>
  <%= render :partial => 'public_links' %>

  <% if is_admin? %>
    <h4>Event Management</h4>
    
    <p><%= link_to 'Back to Event Details', @event %></p>

    <p><%= link_to 'Edit this Event\'s Details', edit_event_path(@event) %></p>

    <p><%= link_to 'Create a New Event', new_event_path %></p>
  <% end %>
<% end %>
