<h1>Event</h1>

<%= render :partial => 'event_details', :locals => { :event => @event } %>

<h3>Attendees/Participants</h3>

<% if @event.contacts.empty? %>
  <p><em>No contacts attended this event</em></p>
<% else %>
  <% if @event.contact_groups_represented.empty? %>
    <p>None of the participants are part of any groups.</p>
  <% else %>
    The following groups were represented at this event:
    <ul>
      <% @event.contact_groups_represented.each do |contact_group| %>
        <li><%= link_to contact_group.name, contact_group %></li>
      <% end %>
    </ul>
  <% end %>
    
  <% form_tag drop_contact_event_path(@event) do %>
    <table class="nice_table">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <% if is_admin? %>
        <th></th>
        <th></th>
        <% end %>
      </tr>

    <% @event.contacts.each do |contact|  %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td><%= mail_to contact.email, contact.email, :encode => "javascript" %></td>
        <% if is_admin? %>
        <td>
          <%= link_to "drop from event",
                drop_contact_event_path(@event, :contact_id => contact.id),
                :method => :post %>
        </td>
        <td><%= check_box_tag "contact_ids[]", contact.id %></td>
        <% end %>
      </tr>
    <% end %>
      <% if is_admin? %>
      <tr>
        <td colspan="4" style="text-align:right">
          <%= submit_tag "drop selected contacts from this event" %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<% if is_admin? %>
  <br/>
  <p>
  [<%= link_to 'Add attendees to this event', add_attendees_event_path(@event) %> &nbsp; | &nbsp;
  <%= link_to 'Edit this event', edit_event_path(@event) %> &nbsp; | &nbsp;
  <%= link_to 'List of Events', events_path %>]
  </p>
  <br/>
  <%= render :partial => 'file_attachments/plupload_with_listing', :locals => {:file_attachments => @event.file_attachments, :event => @event} %>
<% else %>
<div>
  <h4>Files</h4>
  <%= render :partial => 'file_attachments/file_attachments', :object => @event.file_attachments %>
</div>
<% end %>


<% content_for :sidebar do %>
  <h4>Revisions</h4>

  <p>
    Current version: <%= @event.revisable_number %> modified by 
    <%= @event.modified_by_user ? @event.modified_by_user.id : '<em>unknown</em>' %>
      on <%= @event.updated_at.strftime "%m/%d/%Y" %>
  </p>

  <% if @event.revisions.empty? %>
    <p><em>This is the first version of this event.</em></p>
  <% else %>
    <% form_tag event_revisions_path, :method => :get do %>
      <select name="id">
        <% @event.revisions.each do |evr| %>
          <option value="<%= evr.id %>">
            Version <%= evr.revisable_number %>
            (<%= evr.revisable_current_at.strftime "%m/%d/%y" %>)
          </option>
        <% end %>
      </select>
    <%= submit_tag "go"  %>
    <% end %>
  <% end %>
<% end %>
