<div class="span-10">
<h1>Event</h1>

<%= render :partial => 'event_details', :locals => { :event => @event } %>

<%= render :partial => 'sidebar' %>

<h3>Attendees/Participants</h3>

<% if @event.contacts.empty? %>
  <p><em>No contacts attended this event</em></p>
<% else %>
  <% if @event.contact_groups_represented.empty? %>
    <p>None of the participants are part of any groups.</p>
  <% else %>
    The following groups were represented at this event:
    <ul>
      <% @event.contact_groups_represented.each do |contact_group| %>
        <li><%= link_to contact_group.name, contact_group %></li>
      <% end %>
    </ul>
  <% end %>
    
  <% form_tag drop_contact_event_path(@event) do %>
    <table class="nice_table">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <% if has_authorization?(:update, :events) %>
        <th></th>
        <th></th>
        <% end %>
      </tr>

    <% @event.contacts.each do |contact|  %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td><%= mail_to contact.email, contact.email, :encode => "javascript" %></td>
        <% if has_authorization?(:update, :events) %>
        <td>
          <%= link_to "drop from event",
                drop_contact_event_path(@event, :contact_id => contact.id),
                :method => :post, :class => 'fake_button' %>
        </td>
        <td><%= check_box_tag "contact_ids[]", contact.id %></td>
        <% end %>
      </tr>
    <% end %>
      <% if has_authorization?(:update, :events) %>
      <tr>
        <td colspan="4" style="text-align:right">
          <%= submit_tag "drop selected contacts from this event" %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
</div>

<div class="span-8 last">
<% if has_authorization?(:create, :file_attachments) %>
  <%= render :partial => 'file_attachments/plupload_with_listing', :locals => {:file_attachments => @event.file_attachments, :event => @event} %>
<% else %>
  <h4>Files</h4>
  <%= render :partial => 'file_attachments/file_attachments', :object => @event.file_attachments %>
<% end %>  
</div>
