<h1>Contacts</h1>

<% if params[:q] %>
  <h2><em>search terms:</em> <%= params[:q] %></h2>
<% end %>

<% form_tag search_contacts_path, :method => :get do %>
  <%= text_field_tag 'q', params[:q] %>
  <%= submit_tag 'search contacts' %><br/>
  <em>narrow to:</em>
  <% [:first_name, :last_name, :agency, :division, :state, :email].each do |att| %>
    <%= check_box_tag "fields[#{att.to_s}]", 1,
            (params[:fields] and (params[:fields][att] == "1")) %> <%= att.to_s.humanize %> &nbsp;
  <% end %>
<% end %>

<table class="nice_table tablesorter">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Agency; Division</th>
      <th>State</th>
      <th>Email</th>
      <th>Grps</th>
      <% if is_admin? %>
        <th colspan="2" style="border: 1px #CCF dashed; text-align:center">Manage</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% for contact in @contacts %>
    <tr>
      <td><%= link_to contact.name, contact %></td>
      <td><%= contact.agency_and_division %></td>
      <td><%= contact.state %></td>
      <td><%= mail_to contact.email, contact.email, :encode => "javascript" %></td>
      <td></td>
      <% if is_admin? %>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact_path(contact),
                    :confirm => 'Are you sure you want to permanently delete this contact?',
                    :method => "delete" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>

<% if is_admin? %>
  <% content_for :sidebar do %>
    <h4>Contact Management</h4>
    <p><%= link_to "enter a new contact", new_contact_path %></p>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function()
  {
    $(".nice_table").tablesorter( { widgets: ['zebra'], headers: { 3:{sorter: false}, 4:{sorter: false}, 5:{sorter: false}} });
  }
);
</script>
