<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="icon" type="image/png" href="/images/favorite.png"/>
    <title><%= [site_title, page_title].reject(&:blank?).join(' - ') %></title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/blueprint/plugins/silksprite/sprite.css" type="text/css" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <%= stylesheet_link_tag 'error_messages' %>
    <%= stylesheet_link_tag 'text_and_colors' %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="stylesheet" href="/tablesorter/blue/style.css" type="text/css" media="screen"/>
    <link type="text/css" href="/stylesheets/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <%= stylesheet_link_tag "formtastic" %>
    <%= stylesheet_link_tag "formtastic_changes" %>
    
    <% if RAILS_ENV == "production" %>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <% else %>
      <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <% end %>
    <%= javascript_include_tag 'jquery.tablesorter.min', 'jquery-ui-1.7.2.custom.min', 'jquery.string.1.0-min', 'jquery.clonePosition',
          'lowpro.jquery', 'behaviors', 'application' %>

    <%= yield :javascript %>
  </head>
  <body>
    <div id="main_menu">
      <ul>
        <li><%= link_to "Contacts", contacts_path %></li>
      </ul>
    </div>
    
    <div id="user_box">
      <%= render :partial => "/users/user_box" %>
    </div>
    <div class="base_content">
      <%= yield %>
    </div>
  </body>
</html>

